<!DOCTYPE html>
<html lang="en">
   <head>
      {% block head %}
      <title>MR. CRAWLER{% block title %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author" content="">
      <meta charset="utf-8">

      <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
      <style> body { padding-top: 60px; } </style>
      <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/style.css')  }}" rel="stylesheet">

      <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
      <!--[if lt IE 9]>
         <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon2.ico') }}">

      {% endblock %}
   </head>

   <body>
   {% block navbar %}
   <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
           <a href="{{ url_for('index') }}" class="navbar-brand">Mr. Crawler</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Mais <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a tabindex="-1" href="../default/">Sobre o Mr. Crawler</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="../amelia/">Artigo</a></li>
                <li><a tabindex="-1" href="../cerulean/">Segurança da Informação</a></li>
                <li><a tabindex="-1" href="../cosmo/">Segurança na Web</a></li>
                <li><a tabindex="-1" href="../cyborg/">Ferramentas Utilizadas</a></li>
                <li><a tabindex="-1" href="../flatly/">Mais sobre <em>web crawling</em></a></li>
              </ul>
            </li>
            <li>
              <a href="../help/">Autores</a>
            </li>
            <li>
              <a href="http://senac.sp.br">Senac SP</a>
            </li>
          </ul>

         {% block navbar_right %}
         <ul class="nav navbar-nav navbar-right">
            {% if not session.logged_in %}
            <li><a href="{{ url_for('login') }}">Entrar</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
            {% endif %}
         </ul>
         {% endblock %}

        </div>
      </div>
    </div>
   {% endblock %}


      <div class="container">
         <div class="content">
            {% block content %}
            {% endblock %}
         </div>

         <hr>

         {% block footer %}
         <footer>
            <div class="row">
               <div class="col-lg-12">
                  <ul class="list-unstyled">
                     <li class="pull-right"><a href="#top">Back to top</a></li>
                     <li><a href="#">Facebook</a></li>
                     <li><a href="#">Twitter</a></li>
                     <li><a href="#">GitHub</a></li>
                     <li><a href="../help/#api">API</a></li>
                  </ul>
                  <!--<p>Construído por <a href="http://www.eryckson.com">Eryckson Magno</a>. Entre em contato <a href="mailto:eryckson@me.com">eryckson@me.com</a>.</p>
                  <p>Código licenciado com  <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
                  <p>
                     Baseado em <a href="http://getbootstrap.com">Bootstrap</a>. 
                     Ícones de <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. 
                     Fontes de <a href="http://www.google.com/webfonts">Google</a>. 
                     Favicon por <a href="#">Gerador de Favicon</a>.
                     </p>-->
               </div>
            </div>
         </footer>
         {% endblock %}

      </div>

      {% block js_footer %}
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      {% endblock %}
      
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')  }}"></script>
   </body>
</html>
