{% extends "base.html" %}
{% block title %} - Autenticação{% endblock %}
{% block content %}
<div class="row">
   <div class="col-lg-12">
      <div class="page-header">
         <h2 id="forms">Registrar</h2>
      </div>
   </div>
</div>

{% from "_formhelpers.html" import render_field %}
<div class="row">
   <div class="col-lg-12">
      <div class="well">
         <form class="bs-example form-horizontal" action="{{ url_for('register') }}" method=post>

         {{ render_field(form.login) }}
         {{ render_field(form.name) }}
         {{ render_field(form.email) }}
         {{ render_field(form.password) }}
         {{ render_field(form.confirm) }}

         <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
               <button type="submit" class="btn btn-success">Registrar</button>
            </div>
         </div>

         </form>
         {% if error %}<div class="alert alert-danger"><p class=error><strong>Ooops!</strong> {{ error }}</div>{% endif %}
      </div>
   </div>
</div>
{% endblock %}
