{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
{% if not session.logged_in %}

<div class="page-header" id="banner">
            <div class="row">
               <div class="col-lg-6">
                  <h1>Segurança</h1>
                  <p class="lead">Verificação de vulnerabilidades</p>
               </div>
               <div class="col-lg-6">
                  <div class="well">
                     <h2>Segurança de aplicações Web</h2>
                     <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                     <p><small>This line of text is meant to be treated as fine print.</small></p>
                     <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
                     <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
                     <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
                  </div>
               </div>
            </div>
         </div>

<div class="bs-docs-section">
            <div class="row">
               <div class="col-lg-12">
                  <div class="page-header">
                     <h1 id="type">Auditoria</h1>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-lg-4">
                  <div class="bs-example bs-example-type">
                     <h1>Heading 1</h1>
                     <h2>Heading 2</h2>
                     <h3>Heading 3</h3>
                     <h4>Heading 4</h4>
                     <h5>Heading 5</h5>
                     <h6>Heading 6</h6>
                  </div>
                  <div class="bs-example">
                     <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="bs-example">
                     <h2>Example body text</h2>
                     <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                     <p><small>This line of text is meant to be treated as fine print.</small></p>
                     <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
                     <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
                     <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
                  </div>
               </div>
               <div class="col-lg-4">
<h2>Emphasis classes</h2>
               <div class="bs-example">
                  <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                  <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                  <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                  <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
               </div>
            </div>
         </div>


{% else %}

{% block js_footer %}
<!--
<script type=text/javascript>
   $(document).ready(function() {
      alert($SCRIPT_ROOT);

      $('a#calculate').bind('click', function() {
               $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
                          a: $('input[name="a"]').val(),
                                  b: $('input[name="b"]').val()
                                        }, function(data) {
                                                $("#result").text(data.result);
                                                      });
                     return false;
                         });
      
      });
   </script>
   -->

  <script>
    var ws = new WebSocket('ws://localhost:8080/ws');
    var $message = $('#message');
   
    var $wsid = $('#wsid');
    var $urlapi = $('#urlapi')

   $('#capturar').bind('click', function(event) {
      event.preventDefault();
      ws.send($('#filter_term').val());

   });


    ws.onopen = function(){
      $message.attr("class", 'label label-success');
      $message.text('open');
      // ws.send("init");
    };
    ws.onmessage = function(ev){
       // alert(ev.data);
       //ws.send("oi");


      var json = JSON.parse(ev.data);
      if(json.wsid !== undefined)
      {
         $wsid.val(json.wsid);
         $urlapi.text('http://localhost:8080/api?id=1&value=19&wsid=' + json.wsid);
      }
      else
      {

      $message.attr("class", 'label label-info');
      $message.hide();
      $message.fadeIn("slow");
      $message.text('recieved message');

      $('#' + json.id).hide();
      $('#' + json.id).fadeIn("slow");
      $('#' + json.id).text(json.value);

      var $rowid = $('#row' + json.id);
      if(json.value > 500){
        $rowid.attr("class", "error");
      }
      else if(json.value > 200){
        $rowid.attr("class", "warning");
      }
      else{
        $rowid.attr("class", "");
     }
      }
    };
    ws.onclose = function(ev){
      $message.attr("class", 'label label-important');
      $message.text('closed');
    };
    ws.onerror = function(ev){
      $message.attr("class", 'label label-warning');
      $message.text('error occurred');
    };

  </script>

{% endblock %}

<!--
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>
-->

<h1>tornado WebSocket example</h1>
    <hr>
      WebSocket status : <span id="message"></span>
    <hr>
    <h3>The following table shows values by using WebSocket</h3>

<table class="table table-striped table-bordered table-condensed">
            <tr>
              <th>No.</th><th>id</th><th>value</th>
            </tr>
            <tr id="row1">
              <td> 1 </td><td> id 1 </td><td id="1"> 0 </td>
            </tr>
            <tr id="row2">
              <td> 2 </td><td> id 2 </td><td id="2"> 0 </td>
            </tr>
            <tr id="row3">
              <td> 3 </td><td> id 3 </td><td id="3"> 0 </td>
            </tr>
          </table>
          <input type="hidden" id="wsid" />

          <span id="urlapi"></span>

<div class="row">
   <div class="col-lg-12">
      <div class="page-header">
         <h2 id="forms">Crawlear</h2>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-lg-6">
      <div class="well">
         <form class="bs-example form-horizontal" action="{{ url_for('do_crawl') }}" method=post>
            <div class="form-group">
               <label for="inputPassword" class="col-lg-2 control-label">Termo de Busca</label>
               <div class="col-lg-10">
                  <input type="text" class="form-control" id="filter_term" placeholder="Termo de Busca" name=filter_term>
               </div>
            </div>
            <div class="form-group">
               <div class="col-lg-10 col-lg-offset-2">
                  <button type="submit" class="btn btn-primary" id="capturar">Capturar</button>
               </div>
            </div>
         </form>
         {% if error %}<div class="alert alert-danger"><p class=error><strong>Ooops!</strong> {{ error }}</div>{% endif %}
      </div>
   </div>
</div>


{% endif %}
{% endblock %}
